<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="html,css"/>
    <meta name="description" content="adsdads"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>首页</title>
</head>
<body style="text-align:center;font-size:20px;">
<h1><%- title %></h1>
<% if( userInfo == null ) { %>
    <a href="./login">登录</a><br>
    <a href="./register">注册</a>
<% } else { %>
    <div><%= userInfo.name %> | <%= userInfo.age %></div>
    <div><a href="/?t=lot">退出登录</a></div>
<% } %>
</body>
</html>